BasedOnStyle: Mozilla
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
InsertBraces: true
LineEnding: LF

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*>$'
    Priority: 1
  - Regex: '^".*"$'
    Priority: 2
