# trash
build/
.cache/
node_modules/

# vitepress things
docs/.vitepress/dist
docs/.vitepress/cache
docs/.vitepress/contributors.json

# CMake user staff
CMakeUserPresets.json

# IDE stuff
.vscode/
.idea/

# mac OS shit
.DS_Store
